:root {
    --background-color: #efa238;
    --text-color: #a4df1d;
  }

  [data-theme="dark"] {
    --background-color: #3F3F3F;
    --text-color: #fff;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  button {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 5px;
}