* {
     
     margin-left: 5px;
    
}

h1 {
    color: #a4df1d;
    font-size: 100px;
    margin-left: 20px;
}

h2 {
    color: #a4df1d;
    margin-left: 20px;
}

h3 {
    color: springgreen;
    margin-left: 20px;
}

a:link {
    background-color: #a4df1d;
    text-decoration: none;
    border-radius: 4px;
    padding: 5px;
}

p {
    color: springgreen;
    margin-left: 20px;

}

body {
    background-color: #efa238;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    margin-left: 20px;
}


nav {
    color: lime;
    margin-left: 20px;
}


.card {
    display: flex;
  justify-content: left;
  align-items: center;
  width: 180px;
  padding: 1.5rem;
  margin-top: 50px;
  margin-left: 20px;
  background: #a4df1d;
  color: #135e30;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  border: 2px;
  box-shadow: 0 0 50px 15px pink;
}

ul {
    font-size: 18pt;
}

img {
    border-radius: 25px;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

button {
    font-size: medium;
    border-color: aquamarine;
    border-style: dotted;
    background-color: pink;
    color: greenyellow;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px pink;
    cursor: pointer;
    
}