* {
     background-color: #efa238;
    
}

h1 {
    color: #a4df1d;
}

h2 {
    color: #a4df1d;
}

h3 {
    color: #a4df1d;
}

body {
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

nav {
    color: lime;
}

ul {
    background-color: #a4df1d;
    color: orange;
    display:inline-block;
        border:5px solid #FFC0CB;        ;
        padding:20px;
        
}

img {
    border-radius: 25px;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}